In [ ]:
import pandas

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
data = pandas.read_csv('/content/drive/MyDrive/TUBES/package_tourism.csv')
data.drop(["Package","Place_Tourism4", "Place_Tourism5"], axis = 1, inplace=True)
data

,City,Place_Tourism1,Place_Tourism2,Place_Tourism3
0,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil
1,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan
2,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal
3,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari
4,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta
...,...,...,...,...
95,Surabaya,Ekowisata Mangrove Wonorejo,Taman Harmoni Keputih,Taman Kunang-Kunang
96,Surabaya,Ciputra Waterpark,Kenjeran Park,Kebun Binatang Surabaya
97,Surabaya,Museum Kesehatan Dr. Adhyatma,Patung Buddha Empat Rupa,Taman Hiburan Rakyat
98,Surabaya,Taman Ekspresi Dan Perpustakaan,Museum De Javasche Bank,Surabaya Museum (Gedung Siola)
99,Surabaya,Taman Buah Surabaya,Hutan Bambu Keputih,Taman Barunawati

In [ ]:
class Stack:
  def __init__(self, data):
    self.data = data
    self.kolom = []
    for i in self.data:
      self.kolom.append(i)
#melihat jumlah kolom dan baris
  def __len__(self):
    return f"{len(list(self.data[self.kolom[0]]))} rows Ã— {len(self.kolom)} columns"
#mengecek data apakah data kosong
  def isempty(self):
    return len(list(self.data[self.kolom[0]])) == 0
#nampilin data
  def view(self):
    return self.data
#menambah data dari index terakhir ke data frame
#dataframe diubah ke list kemudian ditambah lalu diubah kembali ke dataframe
  def push(self, item):
    kol = {}
    j = 0
    for i in self.kolom:
      kol[j] = list(self.data[i])
      j += 1
    k = 0
    data = {}
    for j in item:
      kol[k].append(j)
      k += 1
    p = 0
    for m in self.kolom:
      data[m] = kol[p]
      p += 1
    self.data = pandas.DataFrame(data)
#menghapus dan menampilkan data trakhir
  def pop(self):
    if self.isempty():
      raise Exception('Stack kosong')
    else:
      data = {}
      df_a = self.data.tail(1)
      for i in self.kolom:
        data[i] = list(self.data[i])
        data[i].pop()
      self.data = pandas.DataFrame(data)
      return df_a
#menampilkan data paling terakhir
  def top(self):
    if self.isempty():
      raise Exception('Stack kosong')
    return self.data.tail(1)

In [ ]:
wisata = Stack(data)
wisata.__len__()
wisata.isempty()
wisata.view()
wisata.push(["Lampung","Pantai Mutun " , "Gunung Sagi", "Puncak Mas"])
wisata.view()

,City,Place_Tourism1,Place_Tourism2,Place_Tourism3
0,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil
1,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan
2,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal
3,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari
4,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta
...,...,...,...,...
96,Surabaya,Ciputra Waterpark,Kenjeran Park,Kebun Binatang Surabaya
97,Surabaya,Museum Kesehatan Dr. Adhyatma,Patung Buddha Empat Rupa,Taman Hiburan Rakyat
98,Surabaya,Taman Ekspresi Dan Perpustakaan,Museum De Javasche Bank,Surabaya Museum (Gedung Siola)
99,Surabaya,Taman Buah Surabaya,Hutan Bambu Keputih,Taman Barunawati
100,Lampung,Pantai Mutun,Gunung Sagi,Puncak Mas

In [ ]:
#data tearkhir dihapus kemudian ditampilkan
wisata.pop()

        City Place_Tourism1 Place_Tourism2 Place_Tourism3
100  Lampung  Pantai Mutun     Gunung Sagi     Puncak Mas

In [ ]:
wisata.view()

,City,Place_Tourism1,Place_Tourism2,Place_Tourism3
0,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil
1,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan
2,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal
3,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari
4,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta
...,...,...,...,...
95,Surabaya,Ekowisata Mangrove Wonorejo,Taman Harmoni Keputih,Taman Kunang-Kunang
96,Surabaya,Ciputra Waterpark,Kenjeran Park,Kebun Binatang Surabaya
97,Surabaya,Museum Kesehatan Dr. Adhyatma,Patung Buddha Empat Rupa,Taman Hiburan Rakyat
98,Surabaya,Taman Ekspresi Dan Perpustakaan,Museum De Javasche Bank,Surabaya Museum (Gedung Siola)
99,Surabaya,Taman Buah Surabaya,Hutan Bambu Keputih,Taman Barunawati

In [ ]:
#nambah data
wisata.push(["Sumatera Utara", "Danau Toba", "Gunung Sibayak", "Pantai Cermin"])

In [ ]:
wisata.view()

,City,Place_Tourism1,Place_Tourism2,Place_Tourism3
0,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil
1,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan
2,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal
3,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari
4,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta
...,...,...,...,...
96,Surabaya,Ciputra Waterpark,Kenjeran Park,Kebun Binatang Surabaya
97,Surabaya,Museum Kesehatan Dr. Adhyatma,Patung Buddha Empat Rupa,Taman Hiburan Rakyat
98,Surabaya,Taman Ekspresi Dan Perpustakaan,Museum De Javasche Bank,Surabaya Museum (Gedung Siola)
99,Surabaya,Taman Buah Surabaya,Hutan Bambu Keputih,Taman Barunawati
100,Sumatera Utara,Danau Toba,Gunung Sibayak,Pantai Cermin

In [ ]:
#untuk melihat data pling atas/terakhir
wisata.top()

               City Place_Tourism1  Place_Tourism2 Place_Tourism3
100  Sumatera Utara     Danau Toba  Gunung Sibayak  Pantai Cermin

In [ ]:
wisata.push(["Lampung","Pantai Mutun " , "Gunung Sagi", "Puncak Mas"])
wisata.top()

        City Place_Tourism1 Place_Tourism2 Place_Tourism3
101  Lampung  Pantai Mutun     Gunung Sagi     Puncak Mas

In [ ]:
wisata.view()

,City,Place_Tourism1,Place_Tourism2,Place_Tourism3
0,Jakarta,Pasar Tanah Abang,Taman Ayodya,Museum Tekstil
1,Jakarta,Pasar Tanah Abang,Pasar Taman Puring,Pasar Petak Sembilan
2,Jakarta,Perpustakaan Nasional,Monas,Masjid Istiqlal
3,Jakarta,Pulau Tidung,Pulau Bidadari,Pulau Pari
4,Jakarta,Museum Satria Mandala,Museum Wayang,Museum Bahari Jakarta
...,...,...,...,...
97,Surabaya,Museum Kesehatan Dr. Adhyatma,Patung Buddha Empat Rupa,Taman Hiburan Rakyat
98,Surabaya,Taman Ekspresi Dan Perpustakaan,Museum De Javasche Bank,Surabaya Museum (Gedung Siola)
99,Surabaya,Taman Buah Surabaya,Hutan Bambu Keputih,Taman Barunawati
100,Sumatera Utara,Danau Toba,Gunung Sibayak,Pantai Cermin
101,Lampung,Pantai Mutun,Gunung Sagi,Puncak Mas

In [ ]:
wisata.__len__()

'102 rows Ã— 4 columns'